body{
    position: relative;
    margin: 0 auto;
    background: white;
    width: 910px;
}
.telefon{
    float: left;
    margin: 28px 5px 10px -8px;
    font:18px Arial ;
    color: #5e696d;
}
/*kod (044)*/
.telefon span{
    letter-spacing: 1.2px;
    line-height: 1.4px;
}
.circle img{
    float: left;
    width: 22px;
    height: 22px;
    background: #1b5b7c;
    -moz-border-radius: 12px;
    -webkit-border-radius: 12px;
    border-radius: 12px;
    margin: 27px 10px 0 7px;

}
.kasper{
    float: left;
    background:#1b5b7c;
    margin: 25px 0 10px 15px;
    height: 21px;
    padding: 4px 0 0 4px;
    border-top-left-radius: 0.25em;
    border-bottom-left-radius:0.25em ;
    box-shadow: 0 0 1px rgb(27, 91, 124);
}
/* background forma*/
.forma_login{
    float: left;
    margin: 25px 5px 10px 0;
    background:#1b5b7c;
    width: 475px;
    height: 25px;
    border-top-right-radius: 0.25em;
    border-bottom-right-radius:0.25em ;
    box-shadow: 0 0 5px rgb(27, 91, 124);
}
/*форма логин пароль*/
.forma_login input{
    float: left;
    margin-top: 4px;
    margin-left: 7px;
    width: 108px;
    height: 15px;
    border: 0;
    padding-left: 5px;
    font: 10.91px Lucida Sans Unicode;

}
.forma_login a{

    color: #fff;
    font: 10.91px Lucida Sans Unicode;
    vertical-align: middle;

}
/*вход*/
.log_enter a{
    float: left;
    margin: 4px 0px 0 8px;
    text-decoration: none;
}
/*регистрацыя*/
.regestr a{
    float: left;
    margin: 4px 17px 0 0px;
    text-decoration: none;

}
/*забыли пароль*/
.pasw_forget a{
    float: left;
    font: 10.91px Lucida Sans Unicode;
    margin: 4px 10px 0 0px;
    color: #bfbfbf;
    letter-spacing: 0.5px;
}
/*right picture*/
.icon{
    float: left;
    margin: -22px 5px 10px 492px;
    border: 1px solid #808080;
    height: 12px;
    padding: 4px 10px 6px 10px;
    width: 55px;
    border-radius: 5em;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .2);
}
/*main menu*/
.polosa{
    background: #69707d;
    position: relative;
    margin: 0 auto;
    margin-top: 5px;
    width: 910px;
    height: 2px;
    border-top-left-radius:0.25em ;
    border-top-right-radius:0.25em ;
}

.menu {
    position: relative;
    margin: 0 auto;
    background: linear-gradient(to top, #050506, #424951);
    width: 910px;
    height: 34px;
    border-radius:0.25em ;
    box-shadow: 0 0 10px rgb(66, 73, 81);
}

.menu li {
    float: right;
    margin: 0;
    padding: 0;
    list-style: none;
    margin-right: 8px;
    margin-top: 3px;
}

.menu a {
    display: block;
    padding: 2px 10px 3px 10px;
    color: #bfbfbf;
    text-decoration: none;
    font: 13.6px Lucida Sans Unicode;
    text-align: center;
}

.menu  .suma a:first-child{
    padding: 4px 1px 5px 8px;
}

.oplata a{
    padding: 3px 14px 3px 6px;
}

.l_hov li:hover {
    background: linear-gradient(to top, #0d365a, #1e6383);
    height: 25px;
    color: #fff;
    border-radius: 5em;
}

.menu li:last-child{

    border-radius: 5em;
    width:124px;
    margin-top: 2px;
    height: 25px;
}

.suma a{
    font: 11px Arial;
    color:#929b9f;
    padding-top: 6px;
letter-spacing: 0.4px;

}

.menu li span:first-child{
    font: 12px Arial;

    padding: 4px 1px 5px 8px;

}

.suma2 a{
    font: 11px Arial;

    padding: 2px 1px 0px 0px;
}

.menu img{
    float: left;
    padding-right: 6px;
    padding-left: 47px;
}

.suma  span{
    font: 12px Arial;
    color:#0d5a8f;
    letter-spacing: 0.5px;
}
/*end main menu*/
/*forma left*/
.car-select-item{
    position: relative;
    margin: 22px 0px -15px;
    font:10px Arial;
    color:#000;
}
.car_top{
    margin-top:2px ;
}
.left_forma_menu{
    font:12px Arial black;
    color: #154468;

}
.left_forma_menu span:first-child{
    font:10px Arial black;
    float: left;
    margin-right:70px ;
}
.left_forma_menu span:last-child{
    font:10px Arial black;
    float: right;
    margin-right:20px ;
}
.bg_forma_left{
    float: left;
    display: block;
    border: 1px solid grey;
    padding: 0 0px 25px 12px;
    margin: 10px 0 0 4px;
    border-radius: 1em;
    width: 400px;
    height: 110px;
    margin-bottom: 15px;
    box-shadow: 0 0 5px rgb(27, 91, 124);
}

.small_shrift {
    color: #77858b;
    font-size:8px;

}

.model{
    width: 100px;
    margin-top: -20px;
    vertical-align: top;

}
.avto{
    width: 100px;
    margin-top: -9px;
    vertical-align: middle;
}

.year{
    width: 60px;
    margin-top: -20px;
    vertical-align: top;
}

.modification{
    width: 100px;
    margin-top: -11px;
    vertical-align: middle;
}
.styled-select select{
    background: transparent;
    margin-left: 80px;
    color: #234666;
    border-bottom: none;
    border-right:none ;
    height:20px ;
    list-style: none;
    vertical-align: top;

}
.styled-select{
    width: 177px;
    height: 20px;
    overflow: hidden;
    background: url(../img/strelka.png) no-repeat right ;
    list-style: none;
}

.styled-select_year select{
    background: transparent;
    margin-left: 80px;
    color: #234666;
    border-bottom: none;
    border-right:none ;
    height:19px ;
    list-style: none;
    vertical-align: top;
    line-height: 0.1px;

}
.styled-select_year{
    width: 137px;
    height: 20px;
    overflow: hidden;
    background: url(../img/strelka.png) no-repeat right ;
    list-style: none;
}
.bg_forma_right{
    float: right;
    padding: 5px 0 25px 0;
    margin-top: -110px;
}
.left_forma_botton{
    float:right ;
    margin-left: 120px;
    margin-top: 10px;
    font:14px Arial italic;
    color: #154467;
    margin-right: 20px;
    letter-spacing: 1.1px;
}

.bg_forma_right_right{
    float: right;
    display: block;
    border: 1px solid grey;
    padding: 0 0px 25px 12px;
    margin-top: 10px;
    border-radius: 1em;
    width: 400px;
    height: 112px;
    margin-bottom: 15px;
    box-shadow: 0 0 5px rgb(27, 91, 124);
}
/*!!!!!!!!!--middle--!!!!!!!!!!!!!!!!!!!!*/


.left-side{
    float:left;
    width:190px;
    height:auto;
    min-height:300px;
    margin:0 0 30px 0;
}
.center-content{
    float:left;
    margin:0 2px 30px;
    padding:0 0 10px 0px;
    background:#c4cdd2;
    width:526px;
    height:615px;
}
.right-side{
    padding:0 0 0 3px;
    float:left;
    width:187px;
    height:auto;
    min-height:350px;
    margin:0 0 30px 0;
}
.middle{
    width:100%;
    height:auto;
    margin:5px 0 0 0;
}
.side-menu-title{
    height:25px;
    width:156px;
    padding:7px 0 3px 30px;
    background:url(../img/brand.png) no-repeat;
    color:#114165;
    font:12.7px "Lucida Sans Unicode", Verdana, Arial;

}
.side-menu-title_brand{
    height:25px;
    width:156px;
    padding:4px 0 3px 36px;
    margin: -3px 0 10px 0;
    background:url(../img/brand.png) no-repeat;
    color:#114165;
    font:14px "Lucida Sans Unicode", Verdana, Arial;

}
.side-block-title_left{
     height:13px;
     width:180px;
     padding:6px 0 10px 30px;
     margin:-6px 0 0px 1px;
     background: url("../img/left_disk.png") left bottom no-repeat;
    font:14px "Lucida Sans Unicode", Verdana, Arial;
 }
.side-block-title_left_diski{
    height:auto;
    width:180px;
    padding:4px 0 4px 30px;
    margin:-24px 0 0px 1px;
    background: url("../img/left_disk.png") no-repeat;
    font:14px "Lucida Sans Unicode", Verdana, Arial;
}
.side-block-title_left_boltu{
    height:auto;
    width:180px;
    padding:5px 0 4px 30px;
    margin:-26px 0 0px 1px;
    background: url("../img/left_disk.png") no-repeat;
    font:14px "Lucida Sans Unicode", Verdana, Arial;
}
.side-menu-block{
    padding:7px 0 5px 0px;
    margin:7px 0 10px 0;
}
.side-block-title_right{
    height:auto;
    width:180px;
    padding:7px 0 7px 34px;
    margin:-8px 0 0px 15px;
    background: url("../img/right_disk.png") no-repeat;
    font:14px Arial;
}
.side-block-title_right_disk{
    height:auto;
    width:180px;
    padding:5px 0 6px 34px;
    margin:-17px 0 0px 15px;
    background: url("../img/right_disk.png") no-repeat;
    font:14px "Lucida Sans Unicode", Verdana, Arial;

}

.side-menu-item{
    display:block;
    width:130px;
    height:24px;
    padding:1px 0 0 13px;
    margin:0px 0 0 35px;
    color:#465961;
    font:12.7px "Lucida Sans Unicode", Verdana, Arial;
    background:url(../img/melk_krug.png) no-repeat 0 7px;
    font-weight:normal;
    text-decoration: none ;

}


.side-menu-item:hover{
    font-size:14px;
    font-weight:bold;
    background:url(../img/melk_krug_hover.png) no-repeat 0 7px;
    color:#0c3256;
    text-decoration: underline;

}
.right-menu-choose{
    height:30px;
    width:83px;
    background:url(../img/botton.png) no-repeat;
    border:none;
    margin:-4px 0 0 31px;
    cursor:pointer;
}
.checkbox-menu-item{
    position:relative;
    display:block;
    height:20px;
    width:100%;
    color:#465961;
    margin:4px 0 5px;
    padding:0 0 0 52px;
    font:12.7px "Lucida Sans Unicode", Verdana, Arial;
}
.checkbox-menu-item input{
    position:absolute;
    top:1px;
    left:10px;
}
input[type="checkbox" ] {
    margin: 3px 3px 3px 22px;
}
.middle-item img{
  height: 126px;
}
.middle-item{
    float:left;
    width:140px;
    height:180px;
    text-align:center;
    margin:2px 8px 22px 21px;
}


.middle-item-company{
    color:#206988;
    font:14.6px "Lucida Sans Unicode", Verdana, Arial;
    font-weight: bold;
    margin-top:6px ;
}
.middle-item-model{
    margin:-6px 0 3px 0;
    color:#1f2528;
    height:14px;
    font:12.7px "Lucida Sans Unicode", Verdana, Arial;
}

.middle-item-image a{
    display:table-cell;
    vertical-align:middle;
}
.middle-item-image a img{
    max-width:136px;
    margin-left: 3px;
}
.middle-item-price{
    margin:3px 0 0 0;
    color:#114165;
    font: 16px Arial italic;
    font-weight: bold;
}

.tire-companies{

    width:100%;
    margin:0px 0 24px;
    text-align:center;
}
.tire-companies img{
   margin-top:6px;
}

/*--fotter menu----*/
footer{
    margin:0px auto;
    width:910px;
    height:100px;
    text-align:center;
    font-family: Arial, sans-serif;
    background-color:#213a4d;
}
footer ul {
    padding:10px 0 10px 0;
    color:#bec6c9;


}
footer ul a{
    display:inline;
    color:#bec6c9;
    font-size:12px;

}
footer ul:first-child{
margin-left: 18px;

}
footer ul li{
    display:inline;
margin-right: 12px;


}
footer ul li a:hover{
    color:#52abcb;
    text-decoration:none;
}
footer p{
    padding:0px 0 3px 0;
    color:#d04435;
    font-size:11px;
}
footer p a{
    color:#d04435;
}

